* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(217, 239, 253);
}
h1,
p {
  font-family: "Raleway", sans-serif;
  color: lightskyblue;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.maincontent {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.title {
  width: 40%;
  padding: 2px;
}
.paragraph {
  width: 60%;
  padding: 15px;
}

button {
  width: 60px;
  height: 30px;
  background-color: lightskyblue;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  padding: 5px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: lightskyblue;
  transition-duration: 0.3s;
}
button:not(:hover) {
  background-color: lightskyblue;
  color: white;
  transition-duration: 0.3s;
}
.wrapper-images-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.images-grid {
  width: 75%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}
img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
